
*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: rgb(255, 255, 255);
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

.container{
	margin: 100px;
	background-color: white;
	padding: 40px;
}

.container h2{
	color: teal;
}

input[type="text"], input[type="password"]{

	width: 100%;
	box-sizing: border-box;
	margin: 15px 0px;
	padding: 12px 20px;

}

.loginbutton{

	margin: 15px 0px;
	padding: 20px;
	font-size: 18px;
	width: 100%;
	background-color: teal;
	color: whitesmoke;
	border: none;

}